<a href="https://colab.research.google.com/github/jeevan97achar/heartDiseasePrediction/blob/master/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Heart Disease Prediction

In [1]:
from google.colab import files

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd /content/drive/MyDrive/Github/heartDiseasePrediction/

/content/drive/MyDrive/Github/heartDiseasePrediction

In [4]:
%ls

heart-disease-data/     Heart_Disease_Prediction.ipynb
heart-disease-data.zip  kaggle.json

In [5]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/drive/MyDrive/Github/heartDiseasePrediction/'

In [21]:
!kaggle datasets download -d redwankarimsony/heart-disease-data

Downloading heart-disease-data.zip to /content/drive/MyDrive/Github/heartDiseasePrediction
  0% 0.00/12.4k [00:00<?, ?B/s]
100% 12.4k/12.4k [00:00<00:00, 1.47MB/s]

In [22]:
! unzip heart-disease-data.zip -d heart-disease-data

Archive:  heart-disease-data.zip
  inflating: heart-disease-data/heart_disease_uci.csv

In [6]:
%cd heart-disease-data/

/content/drive/MyDrive/Github/heartDiseasePrediction/heart-disease-data

In [10]:
# To handle datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
# loading the dataset
data = pd.read_csv('heart_disease_uci.csv')

# check the rows and columns of the dataset
print(data.shape)

# visualize the dataset
data.head()

(920, 16)

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [9]:
# Dropping the id
data.drop(['id'], inplace=True, axis=1)
print(data.shape)
data.head()

(920, 15)

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0